:host {
  background: var(--husky-bg-primary);
  color: var(--husky-text);

  font-family: Roboto, sans-serif;

  header {
    padding: 8px 16px;
    background: var(--husky-bg-secondary);
    color: var(--husky-text);

    .title {
      font-weight: bold;
    }
  }

  main {
    padding: 16px 5%;

    .chat-area-container {

    }

  }

  footer {
    padding: 8px 16px;
    background: var(--husky-bg-secondary);
    text-align: center;
  }

}

// Layout
:host {

  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
  }

  main {
    flex: 1 1 auto;  /* Take remaining space */
    overflow: auto;  /* Scroll if content overflows */
  }

  footer {
    flex: 0 0 auto;
  }
}


